# Protect files and directories.
<FilesMatch "\.(inc|sql.*|tpl\.php)$">
  Order allow,deny
  Deny from all
</FilesMatch>

# Don't show directory listings for URLs which map to a directory.
Options -Indexes

# Follow symbolic links in this directory.
Options +SymLinksIfOwnerMatch

# Set the default handler.
DirectoryIndex index.php index.html index.htm

# PHP 5, Apache 1 and 2.
<IfModule mod_php5.c>
  php_flag magic_quotes_gpc                 off
  php_flag magic_quotes_sybase              off
  php_flag register_globals                 off
  php_flag session.auto_start               off
  php_flag display_errors                   on
  php_value error_reporting                 -1
  php_value mbstring.http_input             pass
  php_value mbstring.http_output            pass
  php_flag mbstring.encoding_translation    off
</IfModule>

# Protect git folder
RedirectMatch 404 /\.git

# Various rewrite rules.
<IfModule mod_rewrite.c>
  RewriteEngine on

  # RewriteBase /

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [L]
</IfModule>
